*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
div{
    height:800px;
    border:solid green 2px;
   margin:20px;
   padding:20px;
   

}
.photo4{
    position:sticky;
    top:300px;
    
}
.asd{
    height:5000px;
    background-color:burlywood;
    color:aqua;
}